@charset "UTF-8";
body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: url("Pictures/pexels-burst-374148 (1) 1.png") center/cover no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background: #EEEEE059;
  padding: 0.5rem 1rem;
  z-index: 1;
}
.main-header__link {
  display: flex;
  flex-direction: row;
  color: #004B55;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  font-size: 24px;
}
.main-header__link p {
  margin: 4px;
}
.main-header .menu__toggle {
  opacity: 0;
}
.main-header .menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.main-header .menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.main-header .menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.main-header .menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.main-header .menu__btn {
  display: flex;
  position: fixed;
  top: 55px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.main-header .menu__btn > span,
.main-header .menu__btn > span::before,
.main-header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #004B55;
  transition-duration: 0.25s;
}
.main-header .menu__btn > span::before {
  content: "";
  top: -8px;
}
.main-header .menu__btn > span::after {
  content: "";
  top: 8px;
}
@media screen and (min-width: 575px) {
  .main-header .menu .menu__btn {
    display: none;
  }
}
.main-header .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #EEEEE0;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}
.main-header .menu__box__item {
  display: block;
  padding: 12px 24px;
  color: #004B55;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: 0.25s;
}
.main-header .menu__box:hover {
  background-color: #CFD8DC;
}
.main-header .main-nav {
  display: none;
}
@media screen and (min-width: 575px) {
  .main-header .main-nav {
    display: flex;
  }
  .main-header .main-nav__items {
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-header .main-nav__item a {
    color: #004B55;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
  }
  .main-header .main-nav__item a:hover, .main-header .main-nav__item a:active {
    border-bottom: 2px solid #004B55;
  }
}

.signup {
  margin-top: 162px;
  width: 323px;
  min-height: 479px;
  border: 2px solid #EEEEE0;
  border-radius: 30px;
  background: rgba(238, 238, 224, 0.7);
  padding: 16px;
}
.signup-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 51px;
}
.signup-head__text {
  color: #004B55;
  font-size: 24px;
  font-weight: bold;
}
.signup-head__link {
  color: #004B55;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}
.signup-head__link:hover, .signup-head__link:active {
  border-bottom: 2px solid #004B55;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-form__text {
  display: flex;
  flex-flow: nowrap row;
  border: 0;
  border-bottom: 1px solid #EEEEE0;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25);
  margin-bottom: 22px;
}
.signup-form input {
  width: 100%;
  border: 0;
  font-family: inherit;
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
  background: none;
  border-radius: 0;
  color: #004B55;
}
.signup-form input::placeholder {
  color: rgba(0, 75, 85, 0.5);
}
.signup-form input ~ .awesome {
  color: #EEEEE0;
}
@media screen and (max-width: 575px) {
  .signup-form input ~ .awesome {
    display: none;
  }
}
.signup-form input:focus {
  outline: none;
}
.signup-form input:focus ~ .awesome {
  color: #004B55;
}
.signup-form .signup-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.signup-form label {
  color: #004B55;
  font-size: 10px;
  align-items: flex-start;
  margin: 7px 0 0 10px;
}
.signup-form__link {
  color: #004B55;
  font-weight: bold;
  align-items: center;
}
.signup-form__link:hover, .signup-form__link:active {
  border-bottom: 2px solid #004B55;
}
.signup-form .check {
  position: relative;
  border: 2px solid #EEEEE0;
  background: unset;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.signup-form .check:checked::after {
  position: absolute;
  background: unset;
  margin-top: -4px;
  height: 12px;
  width: 12px;
  display: inline-block;
  content: "✓";
  color: #EEEEE0;
}
.signup-form .button {
  color: #004B55;
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  margin: 1rem;
  width: 130px;
  height: 45px;
  border: 1px solid #EEEEE0;
  border-radius: 8px;
  background: rgba(238, 238, 224, 0.3);
}
.signup-login {
  align-items: flex-end;
  align-self: center;
  color: #004B55;
  font-size: 13px;
}
.signup-login__link {
  color: #004B55;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}
.signup-login__link:hover, .signup-login__link:active {
  border-bottom: 2px solid #004B55;
}

/*# sourceMappingURL=main.css.map */
