$main-color: #004B55;
$secondary-color: #EEEEE0;

@mixin link-style() {
  color: $main-color;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

body {
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: url("Pictures/pexels-burst-374148 (1) 1.png") center/cover no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background: #EEEEE059;
  padding: 0.5rem 1rem;
  z-index: 1;

  &__link {
    display: flex;
    flex-direction: row;
    @include link-style();
    font-size: 24px;
  }

  &__link {
    p {
      margin: 4px;
    }
  }

  .menu{

    &__toggle {
      opacity: 0;

      &:checked {

        ~ .menu__btn {

          > span {
            transform: rotate(45deg);
          }

          > span::before {
            top: 0;
            transform: rotate(0);
          }

          > span::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }

      &:checked {

        ~ .menu__box {
          visibility: visible;
          right: 0;
        }
      }
    }

    &__btn {
      display: flex;
      position: fixed;
      top: 55px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;

      > span,
      > span::before,
      > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $main-color;
        transition-duration: .25s;
      }

      > span::before {
        content: '';
        top: -8px;
      }

      > span::after {
        content: '';
        top: 8px;
      }
    }

    @media screen and (min-width: 575px) {
      .menu__btn {
        display: none;
      }
    }

    &__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 200px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: $secondary-color;
      box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
      transition-duration: .25s;

      &__item {
        display: block;
        padding: 12px 24px;
        color: $main-color;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        transition-duration: .25s;
      }

      &:hover {
        background-color: #CFD8DC;
      }
    }
  }

  .main-nav {
    display: none;
  }

  @media screen and (min-width: 575px) {
    .main-nav {
      display: flex;

      &__items {
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        a {
          @include link-style();

          &:hover,
          &:active {
            border-bottom: 2px solid $main-color;
          }
        }
      }
    }
  }
}

.signup {
  margin-top: 162px;
  width: 323px;
  min-height: 479px;
  border: 2px solid $secondary-color;
  border-radius: 30px;
  background: rgba(238, 238, 224, 0.7);
  padding: 16px;

  &-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 51px;

    &__text {
      color: $main-color;
      font-size: 24px;
      font-weight: bold;
    }

    &__link {
      @include link-style();

      &:hover,
      &:active {
        border-bottom: 2px solid $main-color;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
      display: flex;
      flex-flow: nowrap row;
      border: 0;
      border-bottom: 1px solid $secondary-color;
      box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25);
      margin-bottom: 22px;
    }

    input {
      width: 100%;
      border: 0;
      font-family: inherit;
      line-height: 21px;
      font-size: 14px;
      font-weight: bold;
      background: none;
      border-radius: 0;
      color: $main-color;

      &::placeholder {
        color: transparentize(($main-color), 0.5);
      }

      ~ .awesome {
        color: $secondary-color;
        }

      @media screen and (max-width: 575px) {
        ~ .awesome {
          display: none;
        }
      }
    }

    input:focus {
      outline: none;

      ~ .awesome {
        color: $main-color;
      }
    }

    .signup-label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    label {
      color: $main-color;
      font-size: 10px;
      align-items: flex-start;
      margin: 7px 0 0 10px;
    }

    &__link {
      color: $main-color;
      font-weight: bold;
      align-items: center;

      &:hover,
      &:active {
        border-bottom: 2px solid $main-color;
      }
    }

    .check {
      position: relative;
      border: 2px solid $secondary-color;
      background: unset;
      width: 16px;
      height: 16px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .check:checked::after {
      position: absolute;
      background: unset;
      margin-top: -4px;
      height: 12px;
      width: 12px;
      display: inline-block;
      content: '\2713';
      color: $secondary-color;
    }

    .button {
      color: $main-color;
      font-size: 18px;
      cursor: pointer;
      align-self: center;
      margin: 1rem;
      width: 130px;
      height: 45px;
      border: 1px solid $secondary-color;
      border-radius: 8px;
      background: rgba(238, 238, 224, 0.3);
    }
  }

  &-login {
    align-items: flex-end;
    align-self: center;
    color: $main-color;
    font-size: 13px;

    &__link {
      @include link-style();

      &:hover,
      &:active {
        border-bottom: 2px solid $main-color;
      }
    }
  }
}

